@model DataAccess.Entities.Hotel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hotel</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Star" class="control-label"></label>
                <input asp-for="Star" class="form-control" />
                <span asp-validation-for="Star" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId" id="countryselect">
                    <option value="">-- Select --</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control cityselect" asp-items="ViewBag.CityId">
                    <option value="">-- Select --</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Image" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input type="file" class="form-control" name="hotelImage" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                &nbsp;&nbsp;
                <button type="reset" class="btn btn-outline-primary">Reset</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts{

    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"> </script>

    <script>
        $(function () {
            $("#countryselect").change(function () {
                $(".cityselect").empty();
                var selectedCountryId = $("#countryselect").val();
                if (selectedCountryId != "") {
                    $.ajax({
                        cache: false,
                        dataType: "json",
                        url: "/Cities/GetJson",
                        data: { countryId: selectedCountryId },
                        type: "get",
                        success: function (cities) {
                            $(".cityselect").append('<option value="">-- Select City --</option>');

                            for (var i = 0; i < cities.length; i++) {
                                $(".cityselect").append('<option value="' + cities[i].id + '">' + cities[i].name + '</option>');
                            }
                        },
                        error: function () {
                            alert("An error occured during AJAX request");
                        }

                    });
                } else {
                    $(".cityselect").append('<option value="">-- Select Country --</option>');
                }
            });
        });
    </script>

}
